.Box{
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    /* border-radius: 10px; */
    border-bottom-left-radius:20px ;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}
.Box input {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size:xx-large

}
.content{
    background-color: aliceblue;
    opacity: 0.5;
    border-radius: 20px;
}
.dateBox{
    /* width: 100%; */
    
    text-align: center;
    padding: 10px;
    /* width:80% */
    margin-top: 10px;
   
    font-weight: bold;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.Flex{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    margin-top: 20px;
    /* padding: 30px; */
    flex-direction: column;
    align-items: center;
}
.padding{
    /* padding-top: 5px;
    padding-bottom: 5px; */
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 50px;
    font-weight: 600px;
    opacity: 0.5px;
    background-color: rgba(255,255, 255, 0.2);
    width: fit-content;
    text-align: center;
    border-radius: 10px;
    
}
.color{
    color: #fff;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}
.size{
    font-size:50px;
    font-weight: bold;
}
.App{
    
    /* background-color: aqua; */
    background-image: url('../../public/warm.jpg');
}